# https://www.freecodecamp.org/news/how-to-authenticate-users-with-nextauth-in-nextjs-app-and-pages-router/
OKTA_OAUTH2_ISSUER=
OKTA_OAUTH2_CLIENT_ID=
OKTA_OAUTH2_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=

AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

# https://authjs.dev/reference/core/providers/github
# https://github.com/settings/developers
# home page url: http://localhost:3000 
# call back url http://localhost:3000/api/auth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

#AUTH_GITHUB_ID=919b87qa4sdfs1qdc44f53baf9
#AUTH_GITHUB_SECRET=2aeq98df3f8cwqerc2d03a8360e993c115ba8d5f71de9

# call back url http://localhost:3000/api/auth/callback/google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NODE_TLS_REJECT_UNAUTHORIZED=0